<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">RentalSystem</a>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/clients">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/employees">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/equipment">Equipment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/rentals">Rentals</a>
                </li>
            </ul>
        </div>
    </div>
</nav>