/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.my-calendar-panel {
    background-color: #aabda9;
    .mat-calendar {
      background-color: #a9c2a8;
      color: #333;
    }
    .mat-calendar-header {
      background: #447ab1;      // override header background
      color: white;             // header text
    }
    .mat-calendar-body-cell.mat-calendar-body-active {
      background: #4d40ff;       // active day
      color: white;
    }
  }